extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner Try this stuff again
    div.Message
      div.Title
        h3 an app to help me and others
        h1 shopify ugh
      span.Details go here
    div.NavButtons
      a(href="/user")
          div.NavButton do the thing